/* Home Page Styles */
header{
    position: sticky;
    top: 0;
    background-color: #2C3E50; /* Dark Slate Blue */
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and navigation */
    max-width: 1200px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3a7ba7;
    letter-spacing: 0.1em;
    display: flex;
    align-items: left;
}

.logo .light {
    font-weight: 1000; /* Regular weight for JEWEL FASHION */
}

.logo .bold {
    font-weight: 500; /* Bold weight for & CLOTHIERS */
    margin-left: 5px; /* Adds a slight space between the two sections */
}

nav {
    flex: 2; /* Takes up space on the right */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center navigation items */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ECF0F1; /* Light Gray */
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url('pic1.jpg'); /* Replace with your hero image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

.cta-button {
    background-color: #2980B9; /* Mid-tone Blue */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.cta-button:hover {
    background-color: #1A5276; /* Darker Blue */
}

/* Footer Styles */
footer {
    background-color: #34495E; /* Dark Blue-gray */
    color: #ECF0F1; /* Light Gray */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    border-radius: 5px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    color: #BDC3C7; /* Soft Gray */
}

.footer-content p {
    margin: 10px 0;
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    color: #ECF0F1; /* Light Gray */
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.social-media a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-buttons {
        flex-direction: column;
    }
}
